.img_grande1{
    background-image: url(../assets/Abonadora.jpg);
    background-repeat: no-repeat;
    width: 400px;
    background-size: cover;
}

.img_grande2{
    background-image: url(../assets/Cosechadora.jpg);
    background-repeat: no-repeat;
    width: 400px;
    background-size: cover;
}

.img_grande3{
    background-image: url(../assets/Empacadora.jpg);
    background-repeat: no-repeat;
    width: 400px;
    background-size: cover;
}

.img_grande4{
    background-image: url(../assets/Sembradora.jpg);
    background-repeat: no-repeat;
    width: 400px;
    background-size: cover;
}

.img_grande5{
    background-image: url(../assets/Segadora.jpg);
    background-repeat: no-repeat;
    width: 400px;
    background-size: cover;
}
